@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

/* styles/globals.css */

.marquee {
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


